
@{
    ViewBag.Title = "Detail";
}


    <!-- popular_causes_area_start  -->
    <div class="popular_causes_area pt-120 cause_details ">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="section_title text-center mb-55">
                        <h3><span>Lost Dog Poodle Istanbul Bakirkoy</span></h3>
                        This lost Poodle Dog was last seen around Cumhuriyet Square, Bakirkoy
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="single_cause">
                        <div class="causes_content blogDetailEditMK myLostPetDetailMK">
                            <p>
                                He was out with the dog walker at 2 yesterday, and was spooked by something.
                                He bolted across the extension, and then went out of sight. We have been out looking for
                                over 12 hours now.

                                He is extremely friendly however very timid.
                            </p>
                            <div class="myLostPetAdImageBgMK">
                                <img src="~/Content/img/toy-poodle.jpg" width="300px">
                            </div>
                            <div>
                                <h5>Personal Information</h5>
                            </div>
                            <div class="bilgilerMK">
                                <div class="BilgilerMKK"><p>Pet Name:</p><p>Noodle</p></div>
                                <div class="BilgilerMKK"><p>Missing since:</p><p>04 March 2020</p></div>
                                <div class="BilgilerMKK"><p>Breed:</p><p>Poodle</p></div>
                                <div class="BilgilerMKK"><p>Dominant colour:</p><p>Copper</p></div>
                                <div class="BilgilerMKK"><p>Gender:</p><p>Male</p></div>
                                <div class="BilgilerMKK"><p>Approx age:</p><p>8</p></div>
                                <div class="BilgilerMKK"><p>Microchipped:</p><p>No</p></div>
                                <div class="BilgilerMKK"><p>Location:</p><p>Istanbul/Bakirkoy/Cumhuriyet Square</p></div>
                                <div class="BilgilerMKK"><p>Pet Listing ID:</p><p>93345</p></div>
                                <div class="BilgilerMKK"><p>Pet Ad ID:</p><p>#12345</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- popular_causes_area_end  -->
   
