
@{
    ViewBag.Title = "Detail";
}


    <!-- popular_causes_area_start  -->
    <div class="popular_causes_area pt-120 cause_details ">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="single_cause">
                        <div class="thumb">
                            <img src="~/Content/img/sokakhayvanlarianagorsel-620x375.jpg" alt="">
                        </div>
                        <div class="causes_content blogDetailEditMK">
                            <h4>9 Important Topics Everyone Should Think About the Life of Street Animals</h4>
                            <p class="editMK2">For once, stray animals are always perceived wrong because of 'people' who did not like a stray dog, never served birds in their life, or left water in front of their door for a stray cat. Our friends on the street, which are thought to be filthy, sick and distant creatures, are actually beings who are just waiting to see some love, are struggling to feed their bellies, and sometimes they can display tense attitudes just because they are afraid of people. You can continue to ignore the lives on the street and live your life, but they are waiting outside and in need of help. We wish this list to be a source of empathy for our insensitive people…</p>
                            <h6>1. They are always open to sharing street animals.</h6>
                            <img src="~/Content/img/Görsel-1-600x400.jpg" class="editMK">
                            <p class="editMK2">Be sure, we, as humans, are sometimes not as sharing as they are. Animals on the street can be gathered around a small bowl of food,because they know best what hunger is.</p>
                            <h6>2. It is very difficult for street animals to find food.</h6>
                            <p>As we all know, it is very difficult to find food for street animals in the winter months. Everyone thinks that stray animals somehow find food, or they are relieved by thinking like that, but the situation has nothingto do with it. It is almost impossible for birds to find food when it snows. However, there is no option for cats and dogs other than litter. Most people dispose of food waste in bags and their mouths are tightly closed. In this case, waiting for street animals to find food is dreamy. In summer, the need for water increases in the streets due to the warming weather. Consider yourself. Can you find water on the street on a hot summer day? Of course no, you have to go and buy, but they don't have such a chance. Naturally, our friends on the street are dehydrated unless we give water.</p>
                            <h6>3. Shelters are not a good option for street animals.</h6>
                            <img src="~/Content/img/Görsel-2-600x415.jpg" class="editMK3">
                            <p>It is supported by most people that the creatures collected from the streets are taken to shelters. However, the situation is not that simple. Shelters mean death for many stray animals. The probability of death due to diseases that animals infect as a result of living together in tight spaces is high. Animals in shelters that exceed their capacity can be killed in order to make room. If there is not enough food, animals can still die. Because individual feeding is not given, animals may fight over food and those who are weak may not survive. For this reason, visiting the animal shelters frequently, volunteering and trying to help when necessary, and providing assistance in case of need for medication, food and shelter are actually what every person should do.</p>
                            <h6>4. People should not be afraid of street animals.</h6>
                            <p>Fears about stray animals begin to form as a child. Children, who are warned by their families not to touch the diseased animals, try to stay away from animals, thinking that they can get infected. However, most diseases in animals are not transmitted to humans. On the contrary, when a sick creature is encountered, it should be helped. Veterinarians who take care of stray animals can be applied free of charge, and at least temporary recovery can be found until the animals recover.</p>
                            <h6>5. Street animals should not be considered aggressive or dangerous.</h6>
                            <img src="~/Content/img/Görsel-5-600x416.jpg" class="editMK">
                            <p>Street animals do not attack people when there is no reason. Generally, the excited movements of animals are perceived wrong by humans and aggression may be thought. However, most of the time our friends on the street only want to see some love and attention.</p>
                            <h6>6. Animals are not souvenirs.</h6>
                            <p>The most important reason why so many unattended animals are on the streets is that people see these creatures as souvenirs. Cats, dogs and all other animals are not gifts that you can give to your friends and family. Taking responsibility for a living thing is not something everyone can handle. After the gift of the animals, people who cannot take this responsibility choose to leave their live friends on the streets. This is one of the most brutal things that can be done on a living thing.</p>
                            <h6>7. Animals are not purchasable.</h6>
                            <p>Seeing dogs and cats of the rare breed on the street has become a sight we can no longer see. In fact, this is a proof of how serious this situation is. People think that they can have living things by paying money, and when they cannot take on the responsibilities of this situation, they throw them into the streets. First of all, you should know that a soul is invaluable and you should try opening your doors to animals on the streets instead of buying animals.</p>
                            <img src="~/Content/img/8f740ea161306c5fa9dd20c736361717p.jpg" class="editMK3">
                            <h6>8. Our friends on the street can also be tamed.</h6>
                            <p>Everyone thinks that for some reason an animal cannot live at home after spending time on the street. However, like all animals, you can establish a bond with street animals. Why wouldn't a stray cat be your new housemate when there are people who can connect with even the wildest creatures? Knowing that you have saved a creature's life and feeling that there is a bond between you will make you feel good. Their love for you will be your greatest source of happiness.</p>
                            <h6>9. Small things will be enough to make a difference.</h6>
                            <p>You may not have enough space to live with a living creature in your home, or your budget may not be enough to take responsibility for a living thing. None of these are excuses for helping animals. A few minor aids that everyone can do may be enough to change the position of stray animals between death and life. Thanks to this aid activity, you can make yourself and them happy by spending time with other creatures. Most importantly, even if you can't do anything, what can be as peaceful as caressing an animal's head?</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- popular_causes_area_end  -->
   