
@{
    ViewBag.Title = "Donation";
}


    <!-- popular_causes_area_start  -->
    <div class="popular_causes_area pt-120 cause_details ">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="section_title text-center mb-55">
                        <h3><span>Donations</span></h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="single_cause">
                        <div class="causes_content donationTXT">
                            <img src="../Content/img/8086.png" class="bgDonationMK">
                            <h4>Why we need your help in the form of a donation?</h4>
                            <p>
                                The National Pet Register is trying its best to keep this site a FREE resource for owners of missing pets and all pet owners.
                                We know how important this website is for ALL pet owners and a donation, however small will be very much appreciated and go
                                towards the future of the Pet Register and keeping the website free.
                            </p>

                            <img src="../Content/img/9189.jpg" width="25%" class="donationIMG">
                            <h2>Our Institution's IBAN NUMBER <span>TR1234 5678 9123 4567 8912 3456</span></h2>

                            <p>
                                We would like to thanks you in advance for your donation and we also like to say thanks to everyone involved with the Pet Register
                                and the large amount of time they spend to keep the website going and helping reunite missing pets with their owners.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- popular_causes_area_end  -->
   
