
@{
    ViewBag.Title = "RegisterPetInfo";
}

    <!-- bradcam_area_start  -->
    <div class="bradcam_area breadcam_bg overlay d-flex align-items-center justify-content-center" style="background-image:url(../Content/img/2985080.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>Registration of your Pets</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- bradcam_area_end  -->
    <!-- popular_causes_area_start  -->
    <div class="popular_causes_area pt-120 cause_details ">
        <div class="container">
            <div class="row justify-content-center">
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="single_cause">
                        <div class="causes_content listOfRegisterBenefitsMK">

                            <h4>Registering and Protecting your Pet with the National Pet Register has many benefits...</h4>
                            <p>
                                Registering a pet with the TR National Pet Register gives you peace of mind and many benefits. We will provide you with your very
                                own Members Area which allows you to keep your registered pets updated and managing all aspects of your account with us. You
                                can access your members area at anytime, day or night.

                                Registration is very simple and each pet will be issued its own unique NPR Pet Registration ID. This allows
                                you and any other members to instantly know that the pet is missing and on the TR National Pet Register.
                            </p>



                            <h6>Benefits of registering your pet which include:</h6>
                            <ul>
                                <li>A unique NPR Pet Registration ID</li>
                                <li>Keep track of your pets Microchip No, Tattoo No and other important information</li>
                                <li>24/7 access to your registered pets information</li>
                                <li>NPR Pet Registration ID ideal for Registering a dog and register a cat.</li>
                                <li>Dedicated NPR Pet Registration ID search website PetReg.org</li>
                                <li>Member offer's from leading pet companies</li>
                                <li>Join thousand's of other registered pet owners securing their pets</li>
                            </ul>


                            <h6>What we do</h6>
                            <p>
                                At the UK National Pet Register we provide your pets with a unique Pet Registration ID tracking code which you then
                                provide your pet. This unique Pet Registration ID code will allow anyone who finds your pet in the event it is lost, to notify
                                us and we will put you in contact. With such a large community at the Pet Register, you can be safe in the knowledge we will
                                do our utmost to bring you together.

                                We are not simply just a pet registration database, we provide you with your own control panel to keep your pet information
                                updated and current. You have 24hr access to your control panel via your username and password we supply in your
                                welcome email.

                                In the event your pet is lost or missing, login and mark your pet as missing, this will activate the NPR Pet Registration ID to
                                be searchable on our dedicated website at www.petreg.org and display your emergency contact number to the finder. You
                                should also place your pet on our missing pet register which will alert other members that your pet is missing We do not display
                                any private information about you on our website, only the information you supply for your lost pet listing and emergency contact
                                number is displayed.
                            </p>

                            <h6>The Registration Process</h6>
                            <p>
                                The registration process for your pet is very straight forward. All you have to do is create an account at the UK National
                                Pet Register and then you can add your pets to the database and be issued a Pet Registration ID. You will need to provide
                                certain information to register an account; this is to ensure that in any event that may arise regarding your pet whereabouts
                                so we are able to contact you.
                            </p>

                            <a href="@Url.Action("Register", "User")" class="genric-btn primary circle btnRegisterMK">Click here to Register your Pet</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- popular_causes_area_end  -->
   
